    <div id="info" data-role="view" data-layout="main">
        <div data-role="header">
            <div data-role="navbar" style="box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28)">
                <a id="drawer-trigger" data-role="button" data-align="left" data-rel="drawer" align="center" href="#drawer" style="width: 30px; height: 30px; margin-left: .7em; margin-top: 1em; padding-top: 1.4em"><span> </span></a>
                <img src="kendo/images/Meios_Digitais_CAIXA_branco.png" align="center" style="width: auto; height: 1.6em; margin-left: 1.2em">
            </div>
        </div>
        <div class="barra_titulo"><span>Informações</span>
        </div>
        <div id="appinfo" align="center">
            <div id="appinfo4" class="about-view" align="center" data-bind="invisible:error">
                <div class="app-details" align="center">

                    <img id="appinfo1" src="kendo/images/Aplicativo.png" height="32" width="auto">
                </div>
                <div align="center" class="icon-group">
                    <div class="app-icon" align="center">
                        <img id="appinfo2" src="kendo/images/App_icon.png"   align="center" height="100" width="auto">
                    </div>
                    <div class="app-details" align="center">
                        <img id="appinfo3" src="kendo/images/Meios_Digitais_CAIXA_azul_esc.png" align="center" height="36" width="auto">
                        <h4>Versão 1.0 - Agosto/2015</h4>
                    </div>
                </div>
                <p>App com as informações dos Meios Digitais da CAIXA. Desenvolvido no âmbito da GEMED, sem qualquer participação das fábricas de software ou agências digitais.</p>
                <p>O aplicativo foi elaborado para permitir a consulta fácil e instantânea dos números gerados pela GEMED, em substituição à planilha <b>Sumário_Meios_Digitais.xls</b> que é encaminhada mensalmente por e-mail.</p>
                <p>Para atualização dos números a GEMED depende do recebimento de arquivos de log e do encaminhamento de informações pelas áreas gestoras dos produtos veiculados nos meios digitais.</p>
                <p>Como essas informações são disponibilizadas em períodos diferentes, os dados apresentados neste aplicativo costumam ter sua atualização concluída até o dia 15 de cada mês, sempre fechando as informações do mês anterior.</p>
                <p>Dessa forma, quando o aplicativo apresentar valor zerado para o último mês, isso não significa, necessáriamente, que não houve movimento, mas que aquele dado já teve seu processamento iniciado e ainda não concluído pela GEMED.</p>
                <p>Para dúvidas ou sugestões, encaminhe e-mail para: <b>gemed@caixa.gov.br</b> ou <br><b>elson-carlos.silva@caixa.gov.br</b></p>

            </div>
        </div>
    </div>
<style>

#appinfo {

    background-color: #e8e8e8;


}
    #appinfo1 {
	padding: 5px 0px 0px 15px;
    background-color: #e8e8e8;
    

}
    }
    #appinfo4 {
	padding: 5px 0px 0px 15px;
    background-color: #e8e8e8;
    

}
    #appinfo2 {
	padding: 0px 0px 0px 15px;
    background-color: #e8e8e8;


}
    #appinfo3 {
	padding: 0px 0px 0px 15px;
    background-color: #e8e8e8;


}
</style>
    